*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.clear:after {
    overflow: hidden;
    clear: both;
    display: block;
    content: ""
}
body{
    background: #fafaf9;
}
/* 全局*/
/* 头部*/
.header{

    width: 100%;
    /*height: 160px;*/
    /*display: flex;*/
    /*display: -webkit-flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
/*  logo*/
.logo{
    width: 99%;
    height: 61px;
    position: relative;
    /*vertical-align: bottom;*/

    /*text-align: center;*/
    /*display: flex;*/
    /*display: -webkit-flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}
.logo img{
    position: absolute;
    width: 183px;
    height: 31px;
    top:50%;
    left: 50%;
    margin-top: -15.5px;
    margin-left: -91.5px;
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
}

/*logo  end---------------------*/
/*nav*/
.header .nav{
    width: 100%;
    height: 44px;
    box-sizing: border-box;




}
.header .nav ul{
    height:44px;
    text-align: center;
    background: #565551;
    overflow: hidden;
    position: relative;
    z-index: 999;


}
.header .nav ul li{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #565551;



    font-size: 14px;



}
.header .nav ul:hover{
    overflow:inherit;
}
.header .nav ul li a{
    color: white;
    text-decoration: none;
}

/*nav  end-----------*/
/*.content{*/
    /*width:93%;*/
    /*height: auto;*/
    /*background: #e7e7e7;*/
    /*margin:0 auto 40px auto;*/

/*}*/

/*.none{*/
/*width: 93%;*/
/*margin: 0 auto;*/
/*height: 150px;*/
/*background: #e7e7e7;*/
/*}*/



.content{
    width: 100%;
    /*height: 500px;*/
    background: #e7e7e7;
}
.content .wrap-con{
    width: 99%;
    margin: 20px auto;
}
.content .wrap-con .con-img{

    background-image: url("../img/pinpai.jpg");
    background-repeat: no-repeat;
    width: 98%;
    height: 400px;
    /*margin-bottom: 40px;*/
    margin: 0 auto;
    background-size: cover;

}
.content .wrap-con p{
    width: 98%;
    height: 200px;
    max-height: 200px;
    /*text-align: center;*/
    margin:100px auto 500px auto;
    font-size: 18px;
    /*margin-top: 50px;*/

}


/*user*/
.user{
    display: none;
}
/*foot*/
.footer
{
    /*display: none;*/
    width: 100%;

    background: #2a2624;
    color: #fffdef;
    /*margin-top: 0;*/



}
.footer .foot-wrap {
    width: 80%;
    /*height:100%;*/
    margin: 0 auto;
    background: #2a2624;
}
.footer .foot-wrap ul{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: none;

}
.footer .foot-wrap ul li{
    width: 25%;
    /*min-width: 25%;*/
    height: 100px;
    float: left;
    margin:50px 0;
    display: none;
}
.footer .foot-wrap ul li span{
    font-family: Open Sans condensed;
    font-size: 18px;
    /*display: inline-block;*/
    padding: 22px 0;
    display: none;
}
.footer .foot-wrap ul li p {
    width: 80%;
    color: #bbbbbb;
    font-size: 12px;
    line-height: 20px;
    display: none;
}
.footer  .list{
    width:   100%;
    margin-top: -50px;
    display: none;


}
.footer .foot-wrap ul li .list .pers{
    width:30px;
    height: auto;
    margin: 0;
    float:inherit;
    display: none;

    /*display: inline-block;*/
    /*display: inline-block;*/
    /*padding-bottom: 20px;*/
}
/*.footer .foot-wrap ul li .list .pers img{*/
/*background: white;*/
/*}*/
.footer .foot-middle{
    width: 100%;
    /*height: 300px;*/
    box-sizing: border-box;
    border-top: 1px #4a4948 solid;
    display: none;
    /*border-bottom: 1px #4a4948 solid;*/
}
.footer .foot-middle .middle-wrap {
    width:100%;
    /*height: 260px;*/
    margin-top: 40px;
    color: #bbbbbb;
}
.footer .foot-middle .middle-wrap .text{
    width: 25%;
    /*height: 220px;*/
    float: left;

}
.footer .foot-middle .middle-wrap .text span{
    display: block;
    font-size: 18px;
    margin: 10px 0;
}
.footer  .foot-wrap .foot-bottom{
    width: 100%;
    height: 80px;
    /*margin-top: 10px;*/
    background: #2a2624;
    border-top: 1px #4a4948 solid;


}
.footer .foot-bottom div{
    width: 100%;
    font-size: 12px;
    color: #bebbb5;
    height: 24px;
    line-height: 24px;

    text-align: center;
}