.map {
			max-width: 80%;
			margin: 0 auto;
		}
		
		.map_left {
			width: 50%;
			float: left;
		}
		
		.map_right {
			width: 50%;
			float: right;
		}
		
		.map_o {
			height: 24px;
			width: 100%;
		}
		
		.map_o span {
			line-height: 24px;
		}
		
		.map_end {
			width: 100%;
		}
		
		.map_o img {
			max-width: 2%;
			height: 60%;
		}
		
		.map_o #on {
			font-size: 26px;
			margin-left: 10px;
		}
		
		.map_o #one {
			font-size: 16px;
			color: #666666;
		}
		
		.map_t {
			margin-top: 50px;
			width: 100%;
		}
		
		.map_t p {
			color: #666666;
		}
		
		.map_right img {
			width: 100%;
		}
		
		.map_end span {
			color: #666666;
			font-size: 14px;
		}
		.map_end{margin-top: 20px;}