/* 函数：IndexFooter(myjson)的css
*/
.footer{
	width: 100%;
	height: 250px;
	background: #222;
	overflow: hidden;
}
.footer .footermod{
	width:520px;
	margin:0 auto;
}
.footer .footermod div{
	height:37px;
	text-align: center;
}
.footer .footermod .footername span{
	font-size:1.75rem;
	color:rgb(0, 175, 80); 
}
.footer .footermod div:nth-child(1){
	padding:20px 0 ;
}
.footer .footermod div:nth-child(2){
	padding:20px 0;
	border-bottom: 1px solid rgb(102,102,102);
}
.footer .footermod div:nth-child(2) a{
  font-size:1rem;
  margin:auto 20px;
  color:rgb(102,102,102);
}
.footer .footermod div:nth-child(3){
	padding:20px 0;
}
.footer .footermod div:nth-child(3) p{
  font-size:1rem;
  color:rgb(102,102,102);
  padding:5px 0;
}
.footer .footermod div:nth-child(3) a{
  font-size:1rem;
  color:rgb(102,102,102);
}
.footer .footermod div:nth-child(3) span{
 height:22px;
 margin:0 5px;
}