.l-con dl{
    width: 30%;
}

.l-con dl dt{
    height: auto;
}
.l-con dl dd h4{
    text-align: center;
    margin-left: 20px;
}
.l-con dl dd p{
    /*margin-left: 30px!important;*/
    /*text-align: left;*/
    margin-top: 10px;
}

.txt{

    width: 85%;height: 40px;
    margin:50px auto;

}
.txt div{
    font-size: 14px;
    color:#666666;
    line-height: 20px;
}